.portfolio-block.intro .avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-block.intro, portfolio-block.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-block .heading h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5rem;
  text-align: center;
}

body {
  font-family: 'Roboto Slab';
}

.card #robotics_ros {
  background-image: url("../../assets/img/engineering/ros_code_vscode.png");
  background-size: 200%;
  background-position: 15%;
}

.card #digital_electronics {
  background-image: url("../../assets/img/engineering/digital_design_no-vias.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card #hardware_design {
  background-image: url("../../assets/img/engineering/robotrf_pcb_up1.jpg");
  background-size: 500%;
  background-position: center;
}

div.card {
  position: relative;
  height: 100%;
}

.card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  filter: blur(0px);
  border: none;
}

.card-background:hover {
  filter: blur(2px) opacity(1);
}

.card-background:active {
  filter: blur(3px);
  box-shadow: inset 0px 0px 1px 4px rgb(0,0,0) !important;
  outline: none !important;
}

.card-background:focus {
  filter: blur(4px);
  z-index: 1;
  box-shadow: inset 0px 0px 1px 4px rgb(0,0,0) !important;
  outline: none !important;
}

div.card-body {
  background-color: rgba(255,255,255,0.0);
  color: rgb(255,255,255);
  z-index: 2;
}

a.card-link {
  color: rgb(116,114,114);
}

.row_skills {
  padding-bottom: 25px;
}

.row_footer .col {
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

