/* General */

body {
  font-family: 'Roboto Slab';
  padding-top: 72px !important;
  color: #212529;
  cursor: crosshair;
}

::selection { color: #FFFFFF;  background: #212529; }
article h2::selection, p::selection { color: #212529;  background: #FFFFFF !important;}

.portfolio-block.intro .avatar {
  width: 300px;
  height: 300px;
  background-image: url("../../assets/img/avatars/avatar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*margin: auto;*/
  border-radius: 5px;
  margin-bottom: 50px;
}

.portfolio-block.intro, portfolio-block.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-block .heading h2 {
  font-size: 1.5rem;
  font-weight: 1000;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.portfolio-block .divider {
  border-bottom: solid 3px #212529;
}

/* Cards for projects */
.card {
  border: unset;
}

div.card {
  position: relative;
  height: 100%;
}

.card-background {
  background-image: url("../../assets/img/engineering/ros_code_atom.png");
  background-size: 200%;
  background-position: 15%;
}

.card #hardware_design {
  background-image: url("../../assets/img/engineering/robotrf_pcb_up1.jpg");
  background-size: 500%;
  background-position: center;
}

.card #firmware_development {
  background-image: url("../../assets/img/engineering/digital_design_no-vias.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card #robotics_ros {
  background-image: url("../../assets/img/engineering/ros_code_vscode.png");
  background-size: 200%;
  background-position: 15%;
}

.card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  filter: blur(0px);
  border: none;
}

.card-background:hover {
  filter: blur(2px) opacity(1);
  cursor: no-drop;
}

.card-background:active {
  filter: blur(3px);
  box-shadow: inset 0px 0px 1px 4px #000000e3 !important;
  outline: none !important;
  cursor: no-drop;
}

.card-background:focus {
  filter: blur(4px);
  z-index: 1;
  box-shadow: inset 0px 0px 1px 4px #000000e3 !important;
  outline: none !important;
}

.card-background-learn-more {
  filter: blur(4px);
  z-index: 1;
  box-shadow: inset 0px 0px 1px 4px #000000e3 !important;
  outline: none !important;
}

div.card-body {
  background-color: #00000000;
  color: #d4d4d4;
  z-index: 2;
  padding: 1rem;
}

/* Links */

body a, a:hover, a:active, a:focus, a:visited {
  color:#212529;
  cursor: cell;
}

a.card-link {
  color: rgb(116,114,114);
}

a.card-link:hover, a.card-link:active {
  color:#eeeeee;
}

a.footer_link {
  color: rgb(209,207,207);
}

/* Rows */ 
.row_projects {
  padding-bottom: 25px;
}

.row_footer .col {
  text-align: center;
  padding-top: 10px;
}

.h1, h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  line-height: 1.3;
}

/* Home page containers */

.about-me, .about-me-content {
  text-align: justify;
}

.about-me-content {
  margin-bottom: 80px;
}

/* Cursor */
@media only screen and (max-device-width : 480px) { 
  .cursor {
    visibility: hidden;
    display: none;
  }
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(255, 68, 68);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 1031;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid rgb(255, 68, 68);
  border-radius: 50%;
  opacity: .5;
  top: -2px;
  left: -2px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1.2);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(2);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 2px solid rgb(255, 68, 68);
}